---
- name: Install qemu-guest-agent package
  hosts: 192.168.100.47
  become: true
  #sudo: yes
  become_method: ansible.builtin.sudo

  tasks:
    - name: Install qemu-guest-agent
      ansible.builtin.apt:
        name: qemu-guest-agent
        state: present
